'.source.js':

###≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

    JAVASCRIPT SNIPPETS DIRECTORY

        Log
        Ifs

≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡###

#▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#
#    Log
#▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#

    'Log':
        'prefix': '_'
        'body': 'console.log( $1 );$2'


#▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#
#    Ifs
#▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#

    'If This':
        'prefix': 'if'
        'body': """
            if( ${1:rule} ){
            	${2:statement}
            }
        """

    'If Exists':
        'prefix': 'exists'
        'body': """
            if (\$('${1:SELECTOR}')[0]){
            	${2:function}
            }
        """
