'.source.css':

    ###≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

        PHP SNIPPETS DIRECTORY

            Directory
            Sections
            Breakpoints
            Notes
            Prefixes

    ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡###

    #▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#
    #    Directory
    #▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#

    'Directory':
        'prefix': 'dir'
        'body': """
            //░░░░░░░░░░░░░░░░░░░░░░░░
            //
            //	 DIRECTORY
            //
            //	 _${1:Title}
            //
            //░░░░░░░░░░░░░░░░░░░░░░░░


            $2
        """


    #▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#
    #    Sections
    #▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#

    'Section':
        'prefix': 'sec'
        'body': """
            //▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
            // _${1:Title}
            //▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

            $2
        """

    'Sub-Section':
        'prefix': 'sub'
        'body': """
            //░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
            // ∟${1:sub}
            //░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

            $2
        """

    'Sub-Section Symbol':
        'prefix': 'subtitle'
        'body': '//       ∟${1:sub}'


    #▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#
    #    Breakpoints
    #▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#

    'Breakpoint Section':
        'prefix': 'break'
        'body': """
            //☲☲☲☲☲☲☲☲☲☲☲╣ BREAKPOINTS ╠☲☲☲☲☲☲☲☲☲☲☲☲//

            $1
        """

    'Breakpoint Mixin':
        'prefix': 'bpmix'
        'body': """
            @include breakpoint(${1:two}){
            	${2:}
            }
        """


    #▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#
    #    Notes
    #▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#

    'Basic Note':
        'prefix': 'explain'
        'body': """
            // ════ⓝⓞⓣⓔ════
            // $1
        """

    'Use Note':
        'prefix': 'use'
        'body': """
            // ════ⓤⓢⓔ════
            // $1
        """


    #▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#
    #    Prefixes
    #▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#

    'Transition':
        'prefix': 'ease'
        'body': """
            -webkit-transition: ${1:all} ${2:0.35s} ease-in-out;
            -moz-transition: ${1:all} ${2:0.35s} ease-in-out;
            -o-transition: ${1:all} ${2:0.35s} ease-in-out;
            transition: ${1:all} ${2:0.35s} ease-in-out;
        """

    'Transform':
        'prefix': 'transform'
        'body': """
            transform:$1;
            -webkit-transform:$1;
            -moz-transform:$1;
            -o-transform:$1;
            -ms-transform:$1;
        """

    'Prefixes':
        'prefix': 'prefix'
        'body': """
            $1:$2;
            -webkit-$1:$2;
            -moz-$1:$2;
            -o-$1:$2;
            -ms-$1:$2;
        """
