'.text.html.php':

###≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

    WORDPRESS SNIPPETS DIRECTORY

        Log
        Navigation
        Query
        Get_Terms

≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡###

#▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#
#    Log
#▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#

    'Log':
        'prefix': '_'
        'body': '_log( $1 );$2'


#▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#
#    Navigation
#▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#

    'WP Nav Menu':
        'prefix': 'wp_nav_menu'
        'body': """
            <?php
            	\$nav_args = array(
            		${1:'theme_location' => '${2:header-menu}',}
            		${3:'fallback_cb' => false,}
            		${4:'container' => '${5:div}',}
            		${6:'container_class' => '${7:nav}',}
            		${8:'items_wrap' => '<ul id="%1\$s" class="%2\$s">%3\$s</ul>',}
            		${9:'walker' => 'new ${10:Custom_Walker}',}
            	);
            	wp_nav_menu(\$nav_args);
            ?>$11
        """


#▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#
#    Query
#▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#

    'WP Query':
        'prefix': 'wp_query'
        'body': """
            <?php
            	\$args = array(
            		${1:'post_type' => '${2:Post Type}',}
            		${3:'posts_per_page' => '${4:Post Number}', // -1 will list all posts }
            		${5:'orderby' => '${6:date}',}
            		${7:'order' => '${8:ASC/DESC}',}
            	);
            	\$the_query = new WP_Query( \$args );
            ?>
            <?php if ( \$the_query->have_posts() ) : ?>
            	${9:}
            	${0:<?php while ( \$the_query->have_posts() ) : ?>
            		<?php \$the_query->the_post(); ?>
            		${10:}
            	<?php endwhile; ?>}
            	${11:}
            <?php else : ?>
            	${12:<?php echo "No Posts to Display!"; ?>}
            <?php endif; ?>
            <?php wp_reset_postdata(); ?>$13
        """


#▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#
#    Get_Terms
#▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤#

    'WP Get Terms':
        'prefix': 'get_terms'
        'body': """
            <?php
                $taxonomies = array(
                    '${1:taxonomy_name}',
                );

                $args = array(
                    ${2:'orderby'           => ${3:'name'},}
                    ${4:'order'             => ${5:'ASC'},}
                    ${6:'hide_empty'        => ${7:true},}
                    ${8:'parent'            => ${9:''},}
                );

                $terms = get_terms($taxonomies, $args);
            ?>$10
        """
